@tailwind base;
@tailwind components;
@tailwind utilities;

.Background_Item {
    background-image: url('../images/IMG_0107.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0; 
    height: 100vw; 
    object-fit: cover;
    position: relative;

    
}

.Menu_Button {
    font-size:x-large;
    color: white;
    border: 2px solid #FF3131; 
    padding: 10px; 
    
    background-color: #FF3131;
    width: fit-content;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}


.Menu_text {
   background-color: #FF3131;
   border-radius: 20px;
   padding: 20px;
   color: #FFDE59;
   line-height: 3;
   text-align: center;
   font-size: larger;
   font-family: 'Lato', sans-serif;
   font-family: 'League Spartan', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;

}

.Menu_img h1 {
    font-size: larger;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    font-size: 50px;
}


#GalleryBody{

    background-color: #ffd59f
}

#GalleryCard{
    margin-top: 40px;
    text-align: center;  
}

.carousel-item{
    padding: 5%;
    max-width: 500px;
    margin-left: 28%;
}

#GalleryH3{
    font-family: 'Balsamiq Sans', cursive;

}
#GalleryH5{
    font-family: 'Comfortaa', cursive;

}