:root {

    /* 400 */

    --normal-font: "Inconsolata", sans-serif;

    /* 700 */

    --heading-font: "Inconsolata", sans-serif;

    /* 300 */

    --accent-font: "Inconsolata", sans-serif;

}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    width: 100%
}

#ContactCard{
    margin-top: 40px;
    text-align: center;
}

#contactH3 {
    font-family: var(--heading-font);
    font-size: x-large;
    color: #FF3131;

}

#contactForm {
    margin-top: 80px;
}

.label {
    display: block;
    margin-left: 20px;

}

.inputBox {
    width: 95%;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 4px;
    padding: 6px;
    border-width: 3px;
    border-color: gray;

}

.eventTime {
    margin-left: 20px;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: 2px;
}

#mobilePrefix {
    width: fit-content;
}


#ContactCard {
    text-align: center;
    padding: 20px;

}

#ContactH5 {
    font-family: var(--heading-font);
    font-size: xx-large;
    color: #FF3131;

}

#ContactH3 {
    font-family: var(--accent-font);
    font-size: x-large;
    color: #FF3131;

}

#returnMessage{
    text-align: center;
    font-family: var(--accent-font);
    font-size: x-large;
    color: #FF3131;

}

textarea {
    border-radius: 4px;
}



.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    margin: 10px;
    width: 100%;
    max-width: 250px;
    border: solid;
    color: grey;
    padding: 4px;
    border-radius: 10px;


}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


#choiceText {
    font-family: var(--normal-font);
    font-style: italic;
    font-size: 24px;
    color: #FF3131;
    text-align: center;
    padding: 10px;
}

#GalleryContiner {

    background-color: white;
}


#GalleryCard {
    margin-top: 40px;
    text-align: center;
}

#GalleryH3 {
    font-family: var(--heading-font);
    font-size: xx-large;
    color: #FF3131;

}

#GalleryH5 {
    font-family: var(--accent-font);
    font-size: x-large;
}

.imageText{
    text-align: center;
    font-size: small;
}

@media(min-width; 768px){
    .gallery-item{
        max-width: 350px;
    }
}

