@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 400 */
  --normal-font: "Inconsolata", sans-serif;
  /* 700 */
  --heading-font: "Inconsolata", sans-serif;
  /* 300 */
  --accent-font: "Inconsolata", sans-serif;

  --background-colour: linear-gradient(
    to right top,
    #ffffff,
    #f1dffa,
    #f3bbe8,
    #fc93c4,
    #ff6790,
    #ff6172,
    #ff624f,
    #ff6b26,
    #ff8b26,
    #ffa82f,
    #ffc441,
    #ffde59
  );

  --background-colour-2: linear-gradient(
    to left bottom,
    #ffffff,
    #f1dffa,
    #f3bbe8,
    #fc93c4,
    #ff6790,
    #ff6172,
    #ff624f,
    #ff6b26,
    #ff8b26,
    #ffa82f,
    #ffc441,
    #ffde59
  );
}

.active-link {
  color: #ff3131;
  border: 2px solid #ff3131;
}

.bg-test {
  background-image: var(--background-colour);
}

.bg-test2 {
  background-image: var(--background-colour-2);
}

.First_Page {
  background-image: url("../images/IMG_0107.jpeg");
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.Menu_box {
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8); /* This is equivalent to bg-black/80 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.Menu_Welcome {
  font-size: 30px;
  font-family: var(--heading-font);
  font-weight: bold;
  position: relative;
  color: white;
}

.Menu_Description {
  font-size: 20px;
  font-family: var(--normal-font);
  color: white;
}

.scrollButton {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 1em;
  color: white !important;
  background-color: #ff3131;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.Menu_text {
  background-color: #ff3131 !important;
  border-radius: 20px !important;
  padding: 20px !important;
  color: #ffde59 !important;
  line-height: 3 !important;
  text-align: center !important;
  font-size: larger !important;
  font-family: "Lato", sans-serif !important;
  font-family: "League Spartan", sans-serif !important;
  font-family: "Roboto Condensed", sans-serif !important;
  clear: both !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
  overflow: visible !important;
}

.Menu_Header {
  font-size: xx-large;
}

.Menu_Marg {
  font-size: x-large;
}

.Menu_Pep {
  font-size: x-large;
}

.Menu_Ruc {
  font-size: x-large;
}

.Menu_Sweet {
  font-size: x-large;
}

.Menu_Gar {
  font-size: x-large;
}

.Allergens {
  font-size: x-large;
}

.Menu_img h1 {
  font-size: larger;
}

.header {
  font-size: 50px;
}
